<header id="top_header" class="clearfix">
    <div class="wrapper">
      <h1 class="logo">Films<span>&amp;</span>Séries</h1>

      <a href="#" class="menu"><i class="fa fa-bars"></i></a>
      <nav id="main_nav">
      <%= link_to 'Aj. Film', new_film_path %>
      <%= link_to 'Films', films_path %>
        <a href="#">Séries</a>
        <%= link_to 'Celebs &amp; Photos', actors_path %>
        <%= link_to 'Actu.', articles_path %>
      </nav>
    </div>
  </header>